<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Complaints</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gotu&display=swap" rel="stylesheet">
  <!-- style file  -->
  <!-- <link rel="stylesheet" href="../public/css/anna.css"> -->


  <style>
    *{
      box-sizing: border-box;
      padding: 0;
      margin: 0;
  }
  body{
      color: white;
  }
  .navbar{
    color: #00ED64 !important;
    background-color: #001E2B;
  }
  .nav-link{
      padding: 0 2rem !important;
      /* font-weight: 400 !important; */
      color: #00ED64 !important;
  }
  .nav-link:hover{
    color: #ffffff !important;
  }
  .navbar-brand{
      font-weight: 600 !important;
  }
  
  .pri-head{     
     color: #00ED64;
      text-align: center;
      font-weight: 800;
  }
  .sec-head{
      color: white;
      font-weight: 200;
      text-align: center;
  }
  .about{
      display: flex;
      flex-direction: column;
      padding: 2rem;
  }
  
  /* announcements  */
  #white-bg{
      background-color: white !important;
  }
  .illu{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .all-an{
      color: #ffffff;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  .section-head{
      background-color: #001E2B;
      color: #00ED64;
      padding: 2rem;
      text-align: center;
  }
  .main-ana{
      background-color: #001E2B;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 20px;
      padding: 2rem 4rem; 
    margin-bottom: 2rem;
    margin-top: 2rem !important;
    width: 80vw;
    margin: auto;
  }
  .title{
      color: #001E2B;
      display: inline-block !important;
      margin: 1rem 0rem;
  }
  .answer{
    color: black;
      font-weight: 200;
      width: 80%;
      font-size: 18px;
      margin: 1rem 0rem;
  }
  .an-img{
    border-radius: 20px;
    width: 60vw;
    height: 60vh;
  }
  .button{
    background-color: #00ED64;
    color: black;
    padding: 6px 18px;
    border-radius: 12px;
  }
  .button:hover{
    cursor: pointer;
    background-color: #00684a;
    color: white;
  }
  .createrow{
    display: flex;
    flex-direction: column;
  }
  .input{
    width: 40vw;
  }
  .andetails{
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 20px;
    padding: 1rem 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  </style>
</head>

<body>
  <!-- navbar  -->
  <nav class="navbar navbar-expand-lg navbar-dark" id="navflex">
    <div class="nav-left">
      <a class="navbar-brand" href="#">Scrapers.</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse nav-right" id="navbarNavAltMarkup">
      <div class="navbar-nav ">
        <a class="nav-item nav-link" href="/anPanel">Announcement</a>
        <a class="nav-item nav-link" href="/ntsPanel" >Notice</a>
        <a class="nav-item nav-link" href="" style="color: #001e2b !important; font-weight:600;background-color:white;border-radius: 24px;">Complaints <span class="sr-only">(current)</span></a>
      </div>
    </div>
  </nav>
  <section class="all-an">
      <div class="main-ana">
        <div class="details">
        <h4 class="pri-head">Register your Complaint</h1>
         <form action="/addComplaint" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-12 mb-4 mt-3"><input type="text" class="form-control" placeholder="Title" name="title"></div>

                <div class="col-12 mb-4"><input type="text" class="form-control" placeholder="Content" name="content"></div>

                <div class="col-12 mb-4"><input type="file" class="form-control file" name="filename"></div>

                <div class="col-12 mb-4"><input type="url" class="form-control" placeholder="Reference Link" name="link"></div>

                <div class="row justify-content-center col-12 mt-3"><input type="submit" value="Register Complaint" class="button"></div>
            </div>
         </form>
      </div>
    </section>
      <div class="section-head">
        <h1> All Complaints</h1>
      </div>
    <section class="all-an">
        <% comps.forEach(complaint=>{ %>
            <div class="main-ana">
                <div class="andetails">
            <h5 class="title">Complaint Title:</h5>
            <p class="answer"><%= complaint.title %></p>
            <h5 class="title">Description:</h5>
            <p class="answer"><%= complaint.content %>
            </p>
        </div>
        <% if(!complaint.image){ %>
          <div></div>
      <% } else{ %>
          <img src=".\uploads/<%= complaint.image %>" alt="image" class="an-img">
          <% } %>
    </div>
    <% }) %>
</section>
</body>
<!-- bootstrap script  -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>